<div class="form-container">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>{{ pageTitle }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="avatar-section">
        <img [src]="avatarUrl" alt="Avatar do Jogador" class="jogador-avatar-image">
        
        <button mat-mini-fab color="primary" class="upload-fab-button" (click)="triggerFileInput()" matTooltip="Escolher Foto">
          <mat-icon>edit</mat-icon>
        </button>

        <input type="file" id="avatarUpload" (change)="onFileSelected($event)" style="display: none;">
      </div>

      <form #form="ngForm" (ngSubmit)="save()">
        
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Nome do Jogador</mat-label>
          <input matInput name="nome" [(ngModel)]="jogador.nome" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Posição</mat-label>
          <input matInput name="posicao" [(ngModel)]="jogador.posicao" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Seleção</mat-label>
          <mat-select name="selecao_id" [(ngModel)]="jogador.selecao_id" required>
            <mat-option *ngFor="let selecao of selecoes" [value]="selecao.id">
              {{ selecao.pais }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Número da Camisa</mat-label>
          <input matInput type="number" name="numero" [(ngModel)]="jogador.numero" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Clube Atual</mat-label>
          <input matInput name="clube" [(ngModel)]="jogador.clube" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" name="data_nascimento" [(ngModel)]="jogador.data_nascimento" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="button-group">
          <button mat-stroked-button type="button" (click)="cancel()">Cancelar</button>
          <button mat-raised-button color="primary" type="submit">Salvar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>