<div class="dashboard-container">
  <mat-toolbar class="dashboard-header">
    <h1>Gerenciamento de Jogadores</h1>
    <span class="spacer"></span>
    <button mat-stroked-button (click)="goToHome()">
      <mat-icon>home</mat-icon> Voltar para Home
    </button>
    <button mat-stroked-button (click)="goToCreate()">
      <mat-icon>add</mat-icon> Adicionar Jogador
    </button>
  </mat-toolbar>

  <mat-card class="table-container">
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let jogador">
          <img [src]="jogador.avatarUrl" alt="Avatar" class="jogador-avatar-image">
        </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let jogador"> {{jogador.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="posicao">
        <th mat-header-cell *matHeaderCellDef> Posição </th>
        <td mat-cell *matCellDef="let jogador"> {{jogador.posicao}} </td>
      </ng-container>

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let jogador"> {{jogador.numero}} </td>
      </ng-container>

      <ng-container matColumnDef="clube">
        <th mat-header-cell *matHeaderCellDef> Clube </th>
        <td mat-cell *matCellDef="let jogador"> {{jogador.clube}} </td>
      </ng-container>

      <ng-container matColumnDef="selecao">
        <th mat-header-cell *matHeaderCellDef> Seleção </th>
        <td mat-cell *matCellDef="let jogador"> {{jogador.selecao?.pais}} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let jogador" class="actions">
          <input type="file" [id]="'jogadorAvatarUpload-' + jogador.id" (change)="onJogadorFileSelected($event, jogador)" style="display: none;">
          
          <button mat-icon-button color="accent" (click)="triggerJogadorFileInput(jogador.id)" matTooltip="Mudar Avatar">
            <mat-icon>image</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editJogador(jogador.id)" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteJogador(jogador.id)" matTooltip="Deletar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [colSpan]="displayedColumns.length">
          Nenhum jogador encontrado.
        </td>
      </tr>
    </table>

  </mat-card>
</div>
