<div class="dashboard-container">
    <header class="dashboard-header">
      <h1>Gerenciamento de Jogadores</h1>
      <div>
        <button (click)="goToHome()" class="back-button">Voltar para Home</button>
        <button (click)="goToCreate()" class="create-button">Adicionar Jogador</button>
      </div>
    </header>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Posição</th>
            <th>Número</th>
            <th>Clube</th>
            <th>Seleção</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="jogadores.length === 0">
            <td colspan="6">Nenhum jogador cadastrado.</td>
          </tr>
          <tr *ngFor="let jogador of jogadores">
            <td>{{ jogador.nome }}</td>
            <td>{{ jogador.posicao }}</td>
            <td>{{ jogador.numero }}</td>
            <td>{{ jogador.clube }}</td>
            <td>{{ jogador.selecao?.pais }}</td>
            <td class="actions">
              <button (click)="editJogador(jogador.id)" class="edit-button">Editar</button>
              <button (click)="deleteJogador(jogador.id)" class="delete-button">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>