<div class="dashboard-container">
    <header class="dashboard-header">
      <h1>Dashboard de Seleções</h1>
      <div>
        <button (click)="goToCreate()" class="create-button">Adicionar Seleção</button>
        <button (click)="goToJogadores()" class="manage-button">Gerenciar Jogadores</button>
        <button (click)="logout()" class="logout-button">Sair</button>
      </div>
    </header>
  
    <div class="selecoes-grid">
      <div *ngFor="let selecao of selecoes" class="selecao-card">
        <h2>{{ selecao.pais }}</h2>
        <p><strong>Técnico:</strong> {{ selecao.tecnico }}</p>
        <p><strong>Confederação:</strong> {{ selecao.confederacao }}</p>
        <p><strong>Ranking FIFA:</strong> {{ selecao.ranking_fifa }}</p>
        <p><strong>Títulos da Copa:</strong> {{ selecao.titulos_copa }}</p>
        <div class="card-actions">
          <button (click)="editSelecao(selecao.id)" class="edit-button">Editar</button>
          <button (click)="deleteSelecao(selecao.id)" class="delete-button">Deletar</button>
        </div>
      </div>
    </div>
  </div>