<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    
    <form (ngSubmit)="login()">
      
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="user.email" name="email" required>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="user.password" name="password" required>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="login-button">
        Entrar
      </button>

      <div class="footer-actions">
        <span>Não tem uma conta?</span>
        <button type="button" mat-button (click)="goToRegister()">Criar Conta</button>
      </div>

    </form>
  </mat-card>
</div>