@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  
  background-color: #1a2a1a; 
  
  color: #ffffff; 
}

* {
  box-sizing: border-box;
}

.msg-success {
  background-color: #00ff7f !important;
  color: #111 !important;
}

.msg-error {
  background-color: #d9534f !important;
  color: white !important;
}

.msg-success .mat-simple-snackbar-action {
  color: #111 !important;
}
.msg-error .mat-simple-snackbar-action {
  color: white !important;
}

.mat-mdc-dialog-surface {
  background-color: #2a2a2a !important;
  border: 1px solid rgba(0, 255, 127, 0.3) !important;
  border-radius: 15px !important;
}